@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  width: 1200px;
  height: 2014px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  margin-top: 50px;
}

/* Header Start  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRight {
  display: flex;
  gap: 20px;
  align-items: center;
}

.headerRightLinks {
  position: relative;
  left: 16px;
}

.headerRightLinks a {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 20px;
  margin-left: 16px;
}

.header .separator {
  width: 1px;
  height: 35px;
  background: #c0c0c0;
}

.header .flag {
  width: 24px;
  height: 18px;
  flex-shrink: 0;
}

.header button {
  display: inline-flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #012030;
  color: #ffffff;
  cursor: pointer;
}

.header button:hover {
  color: #ffffff;
  background-color: #274a5b;
}
/* Header End */

/* Info Start  */

.info {
  margin-top: 168px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.info img {
  width: 241px;
  height: 224px;
  flex-shrink: 0;
}

.info h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info p {
  width: 703px;
  color: #757575;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
}

/* Info End */

/* FaqCard Start */

.card {
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #e6e6e6;
  background: #fafafa;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.icon {
  margin-right: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.title h2 {
  color: #757575;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 36px;
  height: 8px;
  margin: 0;
}

.title p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.arrow {
  font-size: 24px;
}

.cardBody {
  color: #757575;
  position: relative;
  left: 10px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 703px;
}

.cardBody.hidden {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

/* FaqCard End */
